<body class= "background"><h1>There's More to Brooklyn than the L Train!</h1>
<h2>Find out where in Brooklyn you should live</h2>



<button class = "button"><%= link_to "Take the Quiz", new_seeker_path %></button>

</body>